<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
  <h2>Pagespeed audit:</h2>
</div>
<section class="app" fxLayout="column" fxLayoutAlign="center center">
  <mat-spinner mode="indeterminate" *ngIf="isLoading" [color]="primary"></mat-spinner>
  <div *ngIf="isLoading">Please wait...it can take some time...</div>
  <div  *ngIf="!isLoading" >
      <form fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
          <mat-form-field>
            <input 
            matInput 
            placeholder="https://example.com"
            [(ngModel)]='url' 
            name="url"
            required
            #urlInput="ngModel">
            <mat-error *ngIf="urlInput.hasError('required')">Field must not be empty</mat-error>
          </mat-form-field>
          
          <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Go!</button>
          <mat-spinner *ngIf="isLoading"></mat-spinner>
        </form>

    <table *ngIf="dataSource.length" mat-table [dataSource]="dataSource" fxLayoutGap="10px" class="mat-elevation-z8">
 
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Opportunity </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="savings">
        <th mat-header-cell *matHeaderCellDef> Estimated Savings </th>
        <td mat-cell *matCellDef="let element"><mat-progress-bar [color]="(element.savings > 500)? 'accent' : (element.savings > 150)? 'warn' : 'primary'" mode="determinate" value="{{element.savings/maxSaving*100}}"></mat-progress-bar> <span [ngClass]="(element.savings > 500)? 'accent' : (element.savings > 150)? 'warn' : 'primary'"> {{element.savings/1000 | number}} s </span></td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
    
</section>